# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*
.env-*
/.env

# Exception for .env.example
!.env.example
!.env-*.example

# PyCharm
.idea/

# Logs
*.log

# OS junk
.DS_Store
