<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salus</title>
</head>
<body>
    <h1>Bienvenido {{ patient.full_name }}</h1>
    <p>Has iniciado sesión correctamente.</p>
    {% if patient %}
        <p>Gracias por usar Salus.</p>
        <p>Fecha Nacimiento: {{ patient.birth_date }}</p>
{#        <p>Sexo: {{ patient.sex or "Desconocido" }}</p>#}
        <button onclick="window.location.href='{{ request.url_for('appointments_page') }}'">Mis citas</button>
        <button onclick="window.location.href='{{ request.url_for('reports_page') }}'">Mis informes</button>
    {% endif %}
    <hr>
    <a href="{{ request.url_for('logout') }}">Cerrar sesión</a>
</body>
</html>