<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salus</title>
</head>
<body>
    <h1>Solicitud de nueva contraseña</h1>
    <div>
        <strong>Introduce tu DNI/NIE</strong>
        <p>Para recuperar tu contraseña te enviaremos al correo electrónico registrado una clave temporal de seguridad</p>
        <p></p>
    </div>
    <form action="" method="post" autocomplete="off">
        <label for="username">Usuario:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <a href="{{ request.url_for('login_page') }}">Volver al login</a>
        <input type="submit" value="Solicitar">
    </form>
</body>
</html>