<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Salus</title>
</head>
<body>
    <h1>Registro</h1>
    
    <form method="post" action="{{ url_for('registration_form') }}" autocomplete="off">
        <div>
            <label for="given_names">Nombre *</label>
            <input type="text" id="given_names" name="given_names" required>
        </div>
        
        <div>
            <label for="family_name_1">Primer apellido *</label>
            <input type="text" id="family_name_1" name="family_name_1" required>
        </div>
        
        <div>
            <label for="family_name_2">Segundo apellido</label>
            <input type="text" id="family_name_2" name="family_name_2">
        </div>
        
        <div>
            <label>Sexo *</label>
            <div>
                <label>
                    <input type="radio" name="gender" value="male" required> Hombre
                </label>
                <label>
                    <input type="radio" name="gender" value="female" required> Mujer
                </label>
            </div>
        </div>
        
        <div>
            <label for="id_document_number">DNI/NIE *</label>
            <input type="text" id="id_document_number" name="id_document_number" required>
        </div>
        
        <div>
            <label for="phone_number">Número de teléfono *</label>
            <input type="text" id="phone_number" name="phone_number" required>
        </div>
        
        <div>
            <label for="email">Email *</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div>
            <label for="birth_date">Fecha de nacimiento *</label>
            <input type="date" id="birth_date" name="birth_date" required>
        </div>
        
        <div>
            <label for="insurer_id">Aseguradora *</label>
            <select id="insurer_id" name="insurer_id" required>
                <option value="" disabled selected>Seleccione una aseguradora</option>
                {% for insurer in insurers %}
                <option value="{{ insurer.external_id }}">{{ insurer.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div>
            <label for="province">Provincia *</label>
            <select id="province" name="province" required>
                <option value="">Seleccione una provincia</option>
                {% for province in provinces %}
                <option value="{{ province.name }}">{{ province.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div>
            <label for="municipality">Población *</label>
            <select id="municipality" name="municipality" required>
                <option value="">Seleccione una población</option>
                {% for municipality in municipalities %}
                <option value="{{ municipality.name }}">{{ municipality.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit">Registrarse</button>
    </form>
    <br><br>
    <a href="{{ request.url_for('login_page') }}">Volver al login</a>
</body>
</html>